.new-game-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control select {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control select {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
}

.form-control select:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label {
  color: red;
}

.form-control--invalid select {
  border-color: red;
  background: #ffd1d1;
}
