.island {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-image: url("https://ak9.picdn.net/shutterstock/videos/1014204989/thumb/5.jpg?ip=x480")
}

.island img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}