.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication h2 {
  color: #fd7f68;
}

.authentication label {
  color: #fd7f68;
}

.authentication form {
  margin-bottom: 1rem;
}