.contestant-item {
  margin: 0rem 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.contestant-item .card {
  box-shadow: none;
}

.contestant-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: black;
  background: white;
}

.contestant-item a:hover,
.contestant-item a:active {
  background: rgba(0, 0, 0, .05);
}

.contestant-item__content {
  padding: 0;
}

.contestant-item__avatar {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.contestant-item__info h3 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffd900;
}

.contestant-item__info h4 {
  font-size: .7rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: rgba(153, 153, 153, 1);
}

.contestant-item:hover h2,
.contestant-item:active h2,
.contestant-item:hover h3,
.contestant-item:active h3 {
  color: #292929;
}

.contestant-item__info h3 {
  margin: 0;
}